.form-input {
    width: 100%;
    font-size: 1.3rem;
    color: inherit;
    padding: .8rem 1rem;
    border-radius: 2px;
    border: 1px solid $color-validation-blue;
    display: block;
    transition: all .3s;    
    &::placeholder {
        color: $color-grey;
    }
    &__validated {
        border: 1px solid $color-validation-red;
    }
}

.form-textarea {
    width: 100%;
    height: 11rem;
    font-size: 1.3rem;
    color: inherit;
    padding: .8rem 1rem;
    border-radius: 2px;
    border: 1px solid $color-validation-blue;
    display: block;
    transition: all .3s;  
    resize: none;  
    &::placeholder {
        color: $color-grey;
    }
    &__validated {
        border: 1px solid $color-validation-red;
    }
}

.form-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
.description-item {
    color: $color-grey;
    font-style: italic;
    &__left {
        margin-left: auto;
    }
    &__red {
       color: $color-validation-red
    }
}
.form-select {
    overflow: hidden;
    width: 100%;
    font-size: 1.3rem;
    padding: .8rem 1rem;
    border-radius: 2px;
    border: 1px solid $color-validation-blue;
    display: block;
    transition: all .3s;   
    height: 4rem;
    background: $color-white;
    color: $color-grey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/arrow_down.png') 99% / contain no-repeat $color-white;
    select::-ms-expand { 
        display: none; /* remove default arrow on ie10 and ie11 */
    }
    &__clicked {
        color: #000;
    }
}

.form-payment {
    position: relative;
    display: flex;
    align-items: center;
    
   
    &__radio-group {
        display: inline-block;
        position: relative;
        
    }
    &__radio-labelname {
        font-size: 1.3rem;
        color: $color-grey-dark;
        margin-left: 2.3rem;
        margin-right: 2.3rem;
        @include respond(w600) { 
            font-size: 1.2rem;
            margin-left: 1.8rem;
            margin-right: .6rem; 
        }
    }
    &__radio-input {
        display: none;
    }
    &__radio-button {
        height: 2rem;
        width: 2rem;
        border: 1px solid $color-radio;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        transform: scale(0.7);
        margin-top: .1rem;
        @include respond(w600) { 
            margin-top: -.1rem;
        }
        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            
            background-color: $color-radio;
            opacity: 0;
            transition: opacity .2s;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
    &__input {
        width: 20%;
        @include respond(w600) { 
            width: 25%;
        }
        font-size: 1.3rem;
        color: inherit;
        padding: .8rem 1rem;
        border-radius: 2px;
        border: 1px solid $color-validation-blue;
        display: block;
        transition: all .6s;  
        &::placeholder {
            color: $color-grey;
        }
        &--validated {
            border: 1px solid $color-validation-red;
        }
        &--invisible {
            opacity: 0;
            visibility: hidden;
            border: 1px solid $color-validation-red;
        }
        &--label {
            font-size: 1.3rem;
            color: $color-grey-dark;
            margin-left: .3rem;
        }
        
    }
}
.form-smallinput {
    display: flex;
    align-items: center;
    &__input{
        width: 20%;
        @include respond(w600) { 
            width: 25%;
        }
        font-size: 1.3rem;
        color: inherit;
        padding: .8rem 1rem;
        border-radius: 2px;
        border: 1px solid $color-validation-blue;
        display: block;
        transition: all .3s;    
        &::placeholder {
            color: $color-grey;
        }
        &--validated {
            border: 1px solid $color-validation-red;
        }
       
    }
    &__label {
        font-size: 1.2rem;
        color: $color-grey-dark;
        margin-left: .8rem;
    }
}

.form-date{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    &__datepicker{
        width: 30%;
        @include respond(w900) { 
            width: 100%;
        }
        font-size: 1.5rem;
        color: inherit;
        padding: .8rem 1rem;
        border-radius: 2px;
        border: 1px solid $color-validation-blue;
        display: block;
        transition: all .3s;    
        &::placeholder {
            color: $color-grey;
        }
        &--validated {
            border: 1px solid $color-validation-red;
        }
       
    }
    &__label {
        font-size: 1.2rem;
        color: $color-grey-dark;
        margin-left: .8rem;
    }
    &__timepicker{
        margin-left: 1rem;
        width: 15%;
        @include respond(w900) { 
            margin-top: .5rem;
            width: 25%;
        }
        @include respond(w600) { 
            width: 45%;
        }
        font-size: 1.5rem;
        color: inherit;
        padding: .8rem 1rem;
        border-radius: 2px;
        border: 1px solid $color-validation-blue;
        display: block;
        transition: all .3s;    
        &::placeholder {
            color: $color-grey;
        }
        &--validated {
            border: 1px solid $color-validation-red;
        }
       
    }

}
.form-button {
    &,
    &:link,
    &:visited {
    font-size: 1.3rem;
    width: 15rem;
    border: 1.5rem solid $color-button;
    border-radius: .2rem;
    margin: 2rem;
    height: 5rem;
    color: $color-white;
    background-color: $color-button;
    text-transform: uppercase;
    transition: all .3s,border .7s, background-color .6s;
    cursor: pointer;
    }
    &:hover {
        transform: translateY(-.4rem);
        font-size: 1.4rem;
        background-color: $color-white;
        color: $color-background-header-1;
        border: .5rem solid $color-button;
        box-shadow: 0 .5rem 1rem rgba($color-grey-dark, .55);
    }

}