.header {
    height: 10rem;
    &__small-line {
        height: 1.5rem;
        width: 100%;
        display: block;
        background-color: $color-background-header-1;
    }
    &__big-box {
        height: 8.5rem;
        width: 100%;
        background-color: $color-background-header-2;
        display: flex;
        align-items: center;
        &--text {
            padding: 15rem;
            font-size: 3.5rem;
            color: $color-white;
            font-weight: 200;
        }
    }
    
}