$color-background-header-1: #1F3968; 
$color-background-header-2: #365790;

$font-blue: #426197;
$color-radio: #8CA2C2;
$color-white: #fff;
$color-background: #F7F7F7;

$color-validation-blue: #C6D0E1;
$color-validation-red: #FDB0B2;
$border-shadow: 0px 0px 25px 1px rgba(0,0,0,.05);

$color-grey: #ccc;
$color-grey-dark: #8D8D8D;